<div fxLayout="column" class="full-height">
  <div fxFlex="80">
    <h1>Второй раунд </h1>
    <h1>Правда или Ложь</h1>
    <div fxLayout="row">
      <div class="m-10">
        <p class="mat-h4 orange">12 утверждений</p>
        <p class="mat-h3">20 секунд</p>
      </div>
      <div class="m-10">
        <p class="mat-h4 orange">Верный ответ</p>
        <p class="mat-h3">+5 баллов</p>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div fxFlex="20">
    <button mat-flat-button (click)="startSecondRound()" color="primary">Начать втрой раунд</button>
  </div>
</div>
