<!-- <ng-container *ngIf="games">
  <ng-container *ngIf="games &&games.length!=0 ; else empty">
    <mat-selection-list role="list" #gamesList (selectionChange)="selectGame($event)" [multiple]="false" class="list">
      <ng-container *ngFor="let game of games">
        <mat-list-option [value]="game">
          <div mat-list-line>{{game.name}}</div>
          <div mat-list-item>{{game.playersCount}}/15</div>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </ng-container>
  <ng-template #empty>
    <h3 class="title">Отсуствуют игры</h3>
  </ng-template>
</ng-container> -->
