<div fxLayout="column" class="full-height">
  <div>
    <h1>Третий раунд</h1>
    <h1>Эмоциональный</h1>
    <div fxLayout="row">
      <div fxLayout="column">
        <div>
          <p class="mat-h4">Внимание</p>
        </div>
        <div>
          <p class="mat-h4">Память</p>
        </div>
        <div>
          <p class="mat-h4">Логику</p>
        </div>
      </div>
      <div fxLayout="column" class="ml-10">
        <p class="mat-h4 orange">Каждое совпадение</p>
        <p class="mat-h3">5 баллов</p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxFlex="20" class="m-10">
    <button mat-raised-button color="primary" (click)="start()">Начать третий раунд</button>
  </div>
</div>
